---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Me";
const identity = {
  name: "cryo",
  country: "India",
  occupation: "Professional Smell Guesser",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const happy = true;
const finished = false;
const goal = 3;
const skillColor = "crimson";
const fontWeight = "bold";
const textCase = "uppercase";
---

<BaseLayout pageTitle={pageTitle}>
  <style is:global define:vars={{ skillColor, fontWeight, textCase }}>
    h1 {
      color: purple;
      font-size: 4rem;
    }
    .skill {
      color: var(--skillColor);
      font-weight: var(--fontWeight);
      text-transform: var(--textCase);
    }
  </style>
  <h2>I'm learning Astro!</h2>
  <p>My name is {identity.name}</p>
  <p>I'm from {identity.country} and I work as a {identity.occupation}</p>
  <h3>My hobbies are:</h3>
  <ul>
    {identity.hobbies.map((val) => <li>{val}</li>)}
  </ul>
  <h3>My skills are:</h3>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>

  {happy && <p>I am happy to be learning Astro!</p>}

  {finished && <p>I finished this tutorial!</p>}

  {
    goal === 3 ? (
      <p>My goal is to finish in 3 days.</p>
    ) : (
      <p>My goal is not 3 days.</p>
    )
  }
</BaseLayout>
